<h1>Admin dashboard</h1>

<p><%= link_to "All Kudos list", admins_kudos_path %></p>
<p><%= link_to "Employees list", admins_employees_path %></p>
<p><%= link_to "Company values", admins_company_values_path %></p>
