<h2>Reward</h2>
<h3>Title</h3>
  <p><%= @reward.title %></p>
<h3>Description</h3>
  <p><%= @reward.description %></p>
<h3>Price</h3>
  <p><%= @reward.price %></p>

<%= link_to 'Back', rewards_path %>
